body
{
	margin:0;
}

h1
{
color:white;
font-weight:200;
margin-bottom:30px;
}

p
{ 
	line-height:19px;
    font-family: "Roboto Slab", "Georgia", serif;
	font-size:12pt;
}

main
{
	margin-top:45px;
	display:flex;
}

header
{
	height:220px;
	width:100%;
}

h3 
{
	color:red;
	margin-left:15px;
	font-weight:300;
}

button
{
	margin-right:20px;
	border-radius:1px;

	padding:3px;
	
	background-color:white;
	border: 1px solid #7f7f7f;
	
	font-size:100%;
	font-weight:600;
}

.footer
{
	margin-bottom:20px;
	padding:0;
	font-size:10pt;
	text-align:center;
}

.LogoBel
{
	margin-top:17px;
	margin-left:70px;
	margin-bottom:5px;
}

.ListInfo
{  
	padding-left:45px;
}

.VibType
{
	margin-left:0px;
	padding-left:60px;
}

.butt
{
	position:absolute;
	left:45px;
	top:443px;
}

.prim
{
	position:absolute;
	left:45px;
	top:480px;
}

.prim2
{
	position:absolute;
	left:15px;
	top:510px;
	font-size:22pt;
}

.tarif1
{
	margin-left:10px;
}